<h1><%= t("app_name")%></h1>
<p><%= @user.name %></p>
<p>
<%= t("users.email_confirm") %>
</p>
<%= link_to t("user.active"), edit_account_activation_url(@user.activation_token,
email: @user.email) %>
