<% provide(:title, t("users.edit")) %>
<% provide(:button_text, t("users.edit")) %>
<h1><%= t("users.update") %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <%= render "form" %>
      <div class="gravatar_edit">
        <%= gravatar_for @user %>
        <%= link_to t("change"), t("gravatar.emails"), target: "_blank" %>
      </div>
  </div>
</div>
